@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 700;
    width: 100%;
    color: white;
    text-align: center;
    background: #ff7a7a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(./images/bg-intro-mobile.png);
    background-position: center;
    background-repeat: no-repeat;
}
header {
    width: 90vw;
    max-width: 600px;
    margin: 6rem 0 3rem 0;
}
header p {
    margin: 1rem 0 0 0;
    font-weight: 500;
    letter-spacing: 1px;
}
main {
    width: 90vw;
    max-width: 500px;
    display: flex;
    flex-direction: column;
}
main .main-header {
    box-shadow: 0 0.5rem 0 0 rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
}
main .main-header p {
    padding: 1rem 3rem;
    border-radius: 0.5rem;
    background-color: #6055a5;
}
main .main-header p span {
    font-weight: 400;
    color: #b9b6d3;
}
main form {
    margin: 2rem 0;
    padding: 1rem;
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 0 0 rgba(0, 0, 0, 0.1);
}
main form label {
    display: block;
    position: relative;
}
main form label input {
    font-family: inherit;
    width: 100%;
    padding: 1rem;
    margin: 0.5rem 0;
    border: 1px solid #b9b6d3;
    border-radius: 0.3rem;
}
main form label input::placeholder {
    color: #b9b6d3;
    font-weight: 700;
    font-family: 'Poppins', sans- serif;
}
main form label span {
    display: none;
    width: 100%;
    font-weight: 500;
    font-size: 0.7rem;
    font-style: italic;
    text-align: right;
    color: #ff7a7a;
    margin-bottom: 0.5rem;
}
main form label span.active {
    display: block;
}
main form label i {
    display: none;
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-65%);
}
main form label i.active {
    display: block;
}
main form button {
    cursor: pointer;
    width: 100%;
    margin: 0.5rem 0;
    padding: 0.7rem;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    border-radius: 0.3rem;
    border: none;
    outline: none;
    background: #38cc8c;
    color: white;
    box-shadow: 0 0.3rem 0 0 #2fb67c;
}
main form button:hover {
    background: #61d6a3;
}
main form p {
    color: #b9b6d3;
    font-weight: 400;
    font-size: 0.8rem;
    margin: 1rem 0;
    padding: 0 0.5rem;
}
main form p span {
    color: #ff7a7a;
    font-weight: 700;
    cursor: pointer;
}
.attribution {
    font-size: 11px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 1rem;
}
.attribution a {
    color: #3e52a3;
}
@media (min-width: 1024px) {
    body {
        height: 100vh;
        flex-direction: row;
        align-items: center;
        padding: 0 10rem;
        background-image: url(./images/bg-intro-desktop.png);
    }
    header {
        text-align: left;
    }
    header h1 {
        font-size: 3rem;
    }
    header p {
        font-weight: 400;
    }
    main {
        margin-left: 4rem;
    }
    main form {
        padding: 2rem;
    }
    main form p {
        font-size: 0.7rem;
    }
    .attribution {
        position: absolute;
        left: 50%;
        bottom: 1rem;
        transform: translateX(-50%);
    }
}
